<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".about_us"
            android:parentActivityName=".Firstpage"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Firstpage" />
        </activity>


        <activity android:name=".DiseasePrediction"
        android:parentActivityName=".Firstpage"
            android:launchMode="singleTop">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Firstpage" />
        </activity>


        <activity android:name=".DisplayReports"
            android:parentActivityName=".Firstpage"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Firstpage" />
        </activity>


        <activity android:name=".Firstpage"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity android:name=".MainActivity"/>


        <activity android:name=".Passwordupdate"
            android:parentActivityName=".Firstpage"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Firstpage" />
        </activity>


        <activity android:name=".POCupdate"
            android:parentActivityName=".Firstpage"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Firstpage" />
        </activity>


        <activity android:name=".privacy_policy"
            android:parentActivityName=".Firstpage"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Firstpage" />
        </activity>


        <activity android:name=".Profileupdate"
            android:parentActivityName=".Firstpage"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Firstpage" />
        </activity>


        <activity android:name=".Signup"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity android:name=".Settings"
            android:parentActivityName=".Firstpage"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Firstpage" />
        </activity>


        <activity android:name=".share"
            android:parentActivityName=".Firstpage"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Firstpage" />
        </activity>


        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" android:theme="@style/Base.Theme.AppCompat"/>

        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>